/* General Styles for the Instruction Page */
body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1; /* Light greyish background */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #333333; /* Dark grey for the title */
    text-align: left; /* Left align the titles */
    margin-bottom: 20px;
}

h3 {
    font-weight: normal;
    font-size: 18px;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 75px;
    border-bottom: 2px solid #b0b0b0; /* Greyish border */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
}

.header-links a {
    margin: 0 10px;
    color: #4CAF50; /* Green color for links */
    font-weight: bold;
}

.header-links a:hover {
    color: #388E3C; /* Darker green on hover */
}

/* Instruction Content */
.instructions-content {
    max-width: 800px;
    margin: 40px auto 50px;
    padding: 20px;
    background-color: #e0f7e9; /* Light green background */
    border: 1px solid #ddd; /* Light grey border */
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: left; /* Left-align the content */
}

.instruction-container p, .instruction-container ul {
    font-size: 16px;
    line-height: 1.6;
    color: #555555; /* Dark grey for text */
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

ul li a {
    color: #388E3C; /* Green color for links */
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
    color: #4CAF50; /* Slightly lighter green on hover */
}

.instruction-container {
    margin-bottom: 30px;
}

/* Back to Upload Link */
.back-to-upload {
    text-align: center;
    margin-top: 20px;
}

.back-to-upload a {
    color: #4CAF50;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.back-to-upload a:hover {
    color: #388E3C;
    text-decoration: underline;
}

/* Footer */
.footer {
    background-color: #3e4a4f; /* Greyish green for the footer background */
    color: white;
    padding: 10px 20px;
    text-align: right;
    margin-top: auto;
    font-size: 14px;
}
